@model IEnumerable<Vidly.Models.Customer>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{ 
    if(Model.Count().Equals(0))
    {
        <h3>There are no Customers in this list</h3>
    }

    else
    {
        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th>Customers</th>
                    <th>DiscountRate</th>
                </tr>
            </thead>
            <tbody>

                @foreach (var items in Model)
                {
                <tr>
                    <td>@Html.ActionLink(items.CustomerName.ToString(), "Details", "Customers", new { Id = items.CustomerId }, null)</td>
                    <td>@items.membershipType.MembershipName</td>
                </tr>
                }


                </tbody>
        </table>
    }
}

